* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
}



.navbar {
    height: 60px;
    width: 100%;
    background-color: rgb(83, 78, 78);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.myIntro p {
    font-size: 20px;
    font-weight: bold;
}

.navItems ul {
    display: flex;
    list-style: none;
}

.navItems ul li {
    margin-left: 20px;
    cursor: pointer;

}

li:hover {
    color: aqua;

}

a {
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

#about {
    padding: 50px 20px;
    background: #f9f9f9;
    font-family: Arial, sans-serif;
    text-align: center;
}

#about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

#about p {
    max-width: 800px;
    margin: 10px auto;
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

#about strong {
    color: #d2691e;
}

.second-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}

#images {
    display: flex;
    gap: 100px;
}

#image1 {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
}

#image2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
}

#owners {
    color: black;
    margin-left: 40%;
    margin-top: 30px;
}



@media screen and (max-width: 550px) {


    .second-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f9f9f9;
    }

    #images {
        display: flex;
        gap: 10px;
    }

    #image1 {
        width: 150px;
        height: 150px;
        background-color: blue;
        border-radius: 50%;
    }

    #image2 {
        width: 150px;
        height: 150px;
        background-color: blue;
        border-radius: 50%;
    }

    #owners {
    color: black;
    margin-left: 35%;
    margin-top: 30px;
}

    
}